:root {
  --color-keyboard-bg: #335110b6;
  --color-main-bg: #8b592b;
  --color-light-text: #f9f7f4;
  --color-dark-text: #333;
  --color-link: #f5f5dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-keyboard-bg);
}

html.orange-theme {
  background-color: var(--color-main-bg);
}

body {
  background-color: var(--color-keyboard-bg);
  color: var(--color-dark-text);
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.8;
  min-height: 100vh;
}

html.orange-theme body {
  background-color: var(--color-main-bg);
}

body > * {
  width: 100%;
  max-width: 700px;
  background-color: var(--color-light-text);
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

#navbar-keyboards-placeholder, #navbar-main-placeholder, #footer-placeholder {
  background-color: var(--color-keyboard-bg);
  padding: 0;
}

#footer-placeholder > * {
  background-color: var(--color-light-text);
  padding: 1rem;
  margin-bottom: 1.5rem;

}


html.orange-theme #navbar-keyboards-placeholder, html.orange-theme #navbar-main-placeholder, html.orange-theme #footer-placeholder {
  background-color: var(--color-main-bg);
}

#navbar, #navbar_keyboards {
  display: flex;
  gap: 2rem;
  padding: 1.5rem 2rem;
  background-color: var(--color-keyboard-bg);
  margin: 0 auto;
}

html.orange-theme #navbar, html.orange-theme #navbar_keyboards {
  background-color: var(--color-main-bg);
}

#navbar a, #navbar_keyboards a {
  color: var(--color-link);
  text-decoration: none;
}

#navbar a:hover, #navbar_keyboards a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

ul, ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
}